<!-- Loader starts-->
<div class="loader-wrapper">
  <div class="loader bg-white">
      <div class="whirly-loader"></div>
  </div>
</div>
<!-- Loader ends-->
<div class="row">
  <div class="col-md-12">
    <div class="auth-innerright">
      <div class="authentication-box">
        <div class="card mt-4">
          <div class="card-body">
            <div class="text-center">
              <h4><%= title %></h4>
            </div>
            <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
            <form class="theme-form" action="/send-email" method="post">
              <p>Enter your user email. An email will be sent with a link, with which you can change your password</p>
              <div class="form-group">
                <label class="col-form-label pt-0">Email</label>
                <input type="email" class="form-control" name="email" value="" placeholder="email" id="login-name">
              </div>
              <div class="form-group form-row mt-3 mb-0">
                <button class="btn btn-primary btn-block" type="submit">Send</button>
               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
