<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
  <title>DASH TEMPLATE</title>
  <% include style %>
</head>
<body>
  <!-- page-wrapper Start-->
  <div class="page-wrapper">
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <div class="page-body">
        <%- body %>
      </div>
      <% include footer %>
    </div>
  </div>
  <% include script %>
</body>
</html>
