<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="<%= global.url; %>favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="<%= global.url%>favicon.ico" type="image/x-icon">
