<!-- latest jquery-->
<script src="<%= global.url; %>assets/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap js-->
<script src="<%= global.url; %>assets/js/bootstrap/popper.min.js"></script>
<script src="<%= global.url; %>assets/js/bootstrap/bootstrap.js"></script>
<!-- feather icon js-->
<script src="<%= global.url; %>assets/js/icons/feather-icon/feather.min.js"></script>
<script src="<%= global.url; %>assets/js/icons/feather-icon/feather-icon.js"></script>
<!-- Sidebar jquery-->
<script src="<%= global.url; %>assets/js/sidebar-menu.js"></script>
<!-- Config jquery-->
<script src="<%= global.url; %>assets/js/config.js"></script>
<!-- Plugins JS start-->
<%- script %>
<script src="<%= global.url; %>assets/js/typeahead/handlebars.js"></script>
<script src="<%= global.url; %>assets/js/typeahead/typeahead.bundle.js"></script>
<script src="<%= global.url; %>assets/js/typeahead/typeahead.custom.js"></script>
<script src="<%= global.url; %>assets/js/chat-menu.js"></script>
<script src="<%= global.url; %>assets/js/tooltip-init.js"></script>
<script src="<%= global.url; %>assets/js/typeahead-search/handlebars.js"></script>
<script src="<%= global.url; %>assets/js/typeahead-search/typeahead-custom.js"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script src="<%= global.url; %>assets/js/script.js"></script>
<!-- Plugin used-->
