<style>
  .page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu li.sidebar-header {
    color: rgb(252 175 23) !important;
  }
</style>
<!-- Page Sidebar Start-->
<div class="page-sidebar primary-bg">
  <div class="main-header-left d-none d-lg-block"> 
    <div class="logo-wrapper">
      <a href="<%= global.url; %>main"><img style="width: 100%;" src="<%= global.url; %>images/logosponsor.png" alt=""></a>
    </div> 
  </div>
  <div class="sidebar-user text-center">
    <div><img class="img-60 rounded-circle" src="/images/user-white.png" alt="#" data-original-title="" title="">
    </div>
    <h6 class="mt-3 f-14 color-text">MARK JECNO</h6>
  </div>
  <div class="sidebar custom-scrollbar grey-gb">
    <ul class="sidebar-menu primary-txt">
      <li><a class="sidebar-header primary-txt" href="<%= global.url; %>main" target="_blank"><i data-feather="home"></i><span>Dashboard</span></a></li>
    </ul>
  </div>
</div>
<!-- Page Sidebar Ends-->