<!DOCTYPE html>
<html lang="en">
<head>
    <% include layouts/head %>
    <title>DASH TEMPLATE</title>
    <% include layouts/style %>
</head>
<body>
<!-- Loader starts-->
<div class="loader-wrapper">
   <div class="loader bg-white">
       <div class="whirly-loader"></div>
   </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper">
    <% include layouts/header %>
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
        <% include layouts/sidebar %>
        <div class="page-body">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col">
                            <div class="page-header-left">
                                <h3>breadcrumb_title</h3>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="<%= global.url %>main"><i data-feather="home"></i></a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- body %>
        </div>
        <% include layouts/footer %>
    </div>
</div>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<% include layouts/script %>
</body>
</html>