<div class="col-lg-12">
  <div class="card">
    <div class="card-header secondary-bg">
      <h4 class="card-title mb-0 color-secondary-text">My Profile</h4>
      <div class="card-options"><a class="card-options-collapse" href="#" data-toggle="card-collapse" data-original-title="" title=""><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-toggle="card-remove" data-original-title="" title=""><i class="fe fe-x"></i></a></div>
    </div>
    <div class="card-body">
    
        <div class="row mb-2">
          <div class="col-auto"><img class="img-70 rounded-circle" alt="" src="../images/user-black.png" data-original-title="" title=""></div>
          <div class="col">
            <h3 class="mb-1">MARK JECNO</h3>
            <p class="mb-4">DESIGNER</p>
          </div>
        </div>
        <div class="info">
          <div class="row">
            <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
              <div class="row">
                <div class="col-md-6">
                  <div class="ttl-info text-left">
                    <h6><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Email</h6><span>Marekjecno@yahoo.com</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ttl-info text-left">
                    <h6><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;BOD</h6><span>02 January 1988</span>
                  </div>
                </div>
              </div>
            </div>
            3
            <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="ttl-info text-left">
                    <h6><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;Contact Us</h6><span>India +91 123-456-7890</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="ttl-info text-left">
                    <h6><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;&nbsp;Location</h6><span>B69 Near Schoool Demo Home</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          
        
        </div>
       
    </div>
  </div>
</div>
